* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mate SC", serif;
  #particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  #page-wrapper {
    position: relative;
    z-index: 2;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 40px 60px;
    border-radius: 25px;
    transition: 1s;
    span {
      font-size: 3em;
      color: #69b7eb;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      @media (max-width: 600px) {
        font-size: 2em;
      }
    }
    button {
      padding: 15px 20px;
      color: white;
      background-color: #69b7eb;
      border: none;
      font-size: 1em;
      letter-spacing: 0.5em;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 600;
      transition: 1s;
      &.changeBtn {
        &:hover {
          transform: scale(1.2);
        }
      }
      &:focus {
        color: #69b7eb;
        background-color: white;
      }
      &.settings {
        padding: 10px 15px;
        @media (max-width: 600px) {
          padding: 5px 10px;
        }
      }
      &.menuBtn {
        padding: 10px 15px;
        @media (max-width: 600px) {
          padding: 5px 10px;
        }
      }
      @media (max-width: 600px) {
        padding: 10px 15px;
      }
    }
    .game {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 10px;
      transform-style: preserve-3d;
      perspective: 500px;
      .item {
        position: relative;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.25s;
        transform: rotateY(180deg);
        @media (max-width: 600px) {
          width: 65px;
          height: 65px;
        }
        &.two {
          @media (max-width: 1025px) {
            width: 65px;
            height: 65px;
          }
        }
        img {
          width: 100px;
          height: 100px;
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none;
          @media (max-width: 600px) {
            width: 65px;
            height: 65px;
          }
          &.two {
            @media (max-width: 1025px) {
              width: 65px;
              height: 65px;
            }
          }
        }
        &::after {
          content: "";
          position: absolute;
          inset: 0;
          background-color: #f4d6db;
          transition: 0.25s;
          transform: rotateY(0deg);
          backface-visibility: hidden;
          opacity: 0;
        }
        &.changeOpacity::after {
          opacity: 1;
          transition: 0.5s;
        }
        &.boxOpen {
          transform: rotateY(0deg);
          &::after {
            transform: rotateY(180deg);
          }
        }
        &.boxMatch::after {
          transform: rotateY(180deg);
        }
      }
      @media (max-width: 600px) {
        width: 290px !important;
        height: 400px !important;
      }
      &.two {
        @media (max-width: 1025px) {
          width: 590px !important;
          height: 400px !important;
        }
        @media (max-width: 750px) {
          width: 290px !important;
          height: 590px !important;
        }
      }
    }
  }
}
