* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mate SC", serif;
}
body #particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
body #page-wrapper {
  position: relative;
  z-index: 2;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 40px 60px;
  border-radius: 25px;
  transition: 1s;
}
body #page-wrapper span {
  font-size: 3em;
  color: #69b7eb;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
@media (max-width: 600px) {
  body #page-wrapper span {
    font-size: 2em;
  }
}
body #page-wrapper button {
  padding: 15px 20px;
  color: white;
  background-color: #69b7eb;
  border: none;
  font-size: 1em;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  transition: 1s;
}
body #page-wrapper button.changeBtn:hover {
  transform: scale(1.2);
}
body #page-wrapper button:focus {
  color: #69b7eb;
  background-color: white;
}
body #page-wrapper button.settings {
  padding: 10px 15px;
}
@media (max-width: 600px) {
  body #page-wrapper button.settings {
    padding: 5px 10px;
  }
}
body #page-wrapper button.menuBtn {
  padding: 10px 15px;
}
@media (max-width: 600px) {
  body #page-wrapper button.menuBtn {
    padding: 5px 10px;
  }
}
@media (max-width: 600px) {
  body #page-wrapper button {
    padding: 10px 15px;
  }
}
body #page-wrapper .game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}
body #page-wrapper .game .item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
  transform: rotateY(180deg);
}
@media (max-width: 600px) {
  body #page-wrapper .game .item {
    width: 65px;
    height: 65px;
  }
}
@media (max-width: 1025px) {
  body #page-wrapper .game .item.two {
    width: 65px;
    height: 65px;
  }
}
body #page-wrapper .game .item img {
  width: 100px;
  height: 100px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
@media (max-width: 600px) {
  body #page-wrapper .game .item img {
    width: 65px;
    height: 65px;
  }
}
@media (max-width: 1025px) {
  body #page-wrapper .game .item img.two {
    width: 65px;
    height: 65px;
  }
}
body #page-wrapper .game .item::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #f4d6db;
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  opacity: 0;
}
body #page-wrapper .game .item.changeOpacity::after {
  opacity: 1;
  transition: 0.5s;
}
body #page-wrapper .game .item.boxOpen {
  transform: rotateY(0deg);
}
body #page-wrapper .game .item.boxOpen::after {
  transform: rotateY(180deg);
}
body #page-wrapper .game .item.boxMatch::after {
  transform: rotateY(180deg);
}
@media (max-width: 600px) {
  body #page-wrapper .game {
    width: 290px !important;
    height: 400px !important;
  }
}
@media (max-width: 1025px) {
  body #page-wrapper .game.two {
    width: 590px !important;
    height: 400px !important;
  }
}
@media (max-width: 750px) {
  body #page-wrapper .game.two {
    width: 290px !important;
    height: 590px !important;
  }
}/*# sourceMappingURL=game.css.map */