* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mate SC", serif;
  #particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  #page-wrapper {
    position: relative;
    z-index: 2;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 40px 60px;
    border-radius: 25px;
    span {
      font-size: 3em;
      color: black;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
    .button {
      padding: 15px 20px;
      color: white;
      background-color: black;
      border: none;
      font-size: 1em;
      letter-spacing: 0.5em;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 600;
      &:focus {
        color: black;
        background-color: white;
      }
    }
  }
}
